<!DOCTYPE html>
<html>
<head>
  <title>Miami Ruby Brigade</title>
</head>
<body>
  <h1>Welcome to Miami Ruby Brigade</h1>
  <img src="/vladimir_computin.jpg" />
  <p>
    special consideration provided by
    <strong>VLADIMIR COMPUTIN</strong>
  </p>
  <ul>
    <li><a href="/insult">Get Insulted</a></li>
    <li><a href="/insult/josef">Schadenfreude at josef getting insulted</a></li>
  </ul>
  <p>It's now <%= Time.now %></p>
</body>
</html>
