!!! 5
%html
  %head
    %title you're so insulted
  %body
    %marquee PREPARE TO GET SERVED
    %dl
      %dt this is the local:
      %dd= insult
      %dt this is the instance variable:
      %dd= @insult
